.main {
  &__panel {
      margin-bottom: 50px;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      &-title {
        margin-bottom: 30px;
      }
      &-number {
        font-size: 34px;
      }
      &-button {
        display: block;
        margin-left: auto;
        margin-bottom: 30px;
        padding: 16px 24px 16px 58px;
        font-size: 16px;
        font-family: 'Ubuntu';
        color: var(--white-color);
        background-color: var(--primary-color);
        background-image: url('../../img/arrow-button.svg');
        background-repeat: no-repeat;
        background-position: 25px 20px;
        border-radius: 7px;
      }
      &-balance {
        font-size: 20px;
        font-weight: 700;
        span {
          margin-left: 20px;
          font-weight: 400;
        }
      }
  }
  &__info {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    &-form {
      display: flex;
      flex-direction: column;
      width: 606px;
      padding: 25px 25px 25px 50px;
      border-radius: 50px;
      background-color: var(--gray-7);
      &-title {
        margin-bottom: 25px;
        font-family: 'Work Sans';
        font-size: 20px;
      }
      &-label {
        margin-bottom: 25px;
        align-self: end;
        margin-right: 18px;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 16px;
      }
      &-input {
        margin-left: 18px;
        width: 300px;
        padding: 10px 16px;
        font-family: 'Ubuntu';
        border-radius: 7px;
        background-color: var(--white-color);
        &::placeholder {
          color: var(--gray-4);
        }
      }
      &-button {
        align-self: center;
        padding: 16px 24px 16px 58px;
        font-size: 16px;
        font-family: 'Ubuntu';
        color: var(--white-color);
        background-color: var(--primary-color);
        background-image: url('../../img/mail.svg');
        background-repeat: no-repeat;
        background-position: 25px 18px;
        border-radius: 7px;
        transform: translateX(28px);
      }
      &.skeleton {
        height: 269px;
      }
    }
    &-chart {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 660px;
      padding: 25px 50px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      &-title {
        font-family: 'Work Sans';
        font-size: 20px;
      }
      &-year {
        font-size: 10px;
        cursor: pointer;
        &-list {
          display: flex;
          align-items: center;
        }
        &.active {
          font-size: 12px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--black-color);
          }
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      &.skeleton {
        box-shadow: none;
        height: 269px;
      }
    }
  }
  &__history {
    padding: 25px 50px 66px;
    border-radius: 50px;
    background-color: var(--gray-7);
    &-title {
      margin-bottom: 25px;
      font-family: 'Work Sans';
      font-size: 20px;
    }
    &-list {
      .list-titles {
        border-radius: 15px;
        background-color: var(--primary-color);
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 20px;
        color: var(--white-color);
      }
    }
    &-item {
      display: flex;
      padding: 20px 50px;
      border-bottom: 2px solid rgba(0, 82, 255, 0.1);
      border-radius: 15px;
      cursor: pointer;
      &-text,
      &-title {
        width: 300px;
        &:nth-child(3) {
          width: 150px;
        }
      }
      &-text {
        font-size: 16px;
        color: var(--gray-2);
        span {
          display: none;
        }
      }
      .adding {
        color: var(--green-color);
      }
      .decrease {
        color: var(--red-color);
      }
    }
    &.skeleton {
      height: 816px;
    }
  }
}

@media only screen and (max-width: 1366px) {
 .main {
    &__info {
      flex-direction: column-reverse;
      &-chart {
        width: 100%;
        margin-bottom: 50px;
      }
      &-form {
        width: 400px;
        &-label {
          display: flex;
          flex-direction: column;
          align-self: unset;
        }
        &-input {
          margin-top: 10px;
          margin-left: 0;
        }
        &-button {
          align-self: flex-start;
          transform: unset;
        }
      }
    }
    &__history {
      &-item-text {
        font-size: 14px;
      }
    }
 }
}

@media only screen and (max-width: 1024px) {
  .main {
    &__history {
      &-title {
        margin-bottom: 0;
      }
      &-item {
        padding: 20px 0;
        flex-direction: column;
        &-text {
          display: flex;
          width: 100%;
          span {
            font-weight: bold;
            margin-right: 20px;
            display: block;
          }
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        &.list-titles {
          display: none;
        }
      }
    }
    &__panel {
      &-number {
        font-size: 24px;
      }
     }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    &__panel {
      flex-direction: column;
      &-left {
        margin-bottom: 50px;
      }
      &-right {
        align-self: flex-end;
      }
      &-number {
        font-size: 16px;
      }
    }
    &__info {
      &-form {
        width: 100%;
        &-input {
          width: 100%;
        }
      }
    }
    &__history {
      &-item {
        &-text {
          display: block;
          span {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
