.main {
  &__wrap {
    padding-top: 50px;
    &-title {
      margin-right: 35px;
    }
    &-sort {
      position: relative;
      width: 300px;
      font-family: 'Ubuntu';
      font-size: 16px;
      border: 1px solid var(--primary-color);
      border-radius: 7px;
      background-color: var(--white-color);
      cursor: pointer;
      &-placeholder {
        padding: 10px 16px;
      }
      &-list {
        display: none;
        width: inherit;
        padding: 10px 0;
        position: absolute;
        top: 45px;
        left: 0;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        background-color: var(--white-color);
        border-radius: 7px;
      }
      &-item {
        position: relative;
        padding: 10px 16px;
        font-family: 'Ubuntu';
        font-size: 16px;
        &:hover {
          background-color: var(--primary-hover);
        }
        &::before {
          display: none;
          content: '';
          position: absolute;
          top: 12px;
          right: 12px;
          width: 18px;
          height: 18px;
          background-image: url('../../img/check.svg');
          background-repeat: no-repeat;
        }
        &.is-active {
          &::before {
            display: block;
          }
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 11px;
        height: 11px;
        background-image: url('../../img/arrow.svg');
        background-repeat: no-repeat;
      }
      &.is-active {
        &::before {
          top: 10px;
          transform: rotate(180deg)
        }
        .main__wrap-sort-list {
          display: block;
        }
      }
    }
    &-panel {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        align-items: center;
        .choices {
          width: 300px;
          &__inner {
            font-family: 'Ubuntu';
            font-size: 16px;
            border: 1px solid var(--primary-color);
            border-radius: 7px;
            background-color: var(--white-color);
          }
          &__list {
            &--dropdown {
                border-radius: 7px;
                .choices__placeholder {
                  display: none;
                }
                .choices__list {
                  padding: 10px 0;
                }
                .choices__item {
                  padding: 10px 16px;
                  font-family: 'Ubuntu';
                  font-size: 16px;
                  &:hover {
                    background-color: var(--primary-hover);
                  }
                }
                .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
                  background-color: var(--primary-hover);
                }
            }
            &--single {
              color: var(--gray-2);
            }
          }
        }
        .choices[data-type*=select-one] .choices__inner {
          padding: 10px 16px;
        }
      }
    }
    &-button {
      padding: 16px 24px 16px 58px;
      font-size: 16px;
      font-family: 'Ubuntu';
      color: var(--white-color);
      background-color: var(--primary-color);
      background-image: url('../../img/plus.svg');
      background-repeat: no-repeat;
      background-position: 25px 13px;
      border-radius: 7px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      margin-bottom: 50px;
      margin-right: 70px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 400px;
      padding: 22px;
      border-radius: 9px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
      &-title {
        margin-bottom: 9px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 18px;
      }
      &-sum {
        margin-bottom: 30px;
        font-family: 'Ubuntu';
        font-size: 14px;
      }
      &-date {
        font-family: 'Work Sans';
        font-weight: 700;
        font-size: 13px;
        span {
          font-weight: normal;
        }
      }
      &-button {
        padding: 16px 21px;
        color: var(--white-color);
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 16px;
        border-radius: 7px;
        background-color: var(--primary-color);
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
