@import '../../../dist/styles/normalize';
@import 'mixin';

* {
    box-sizing: border-box;
}

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --primary-color: #116ACC;
    --primary-hover: #A0C3FF;
    --red-color: #FD4E5D;
    --green-color: #76CA66;
    --gray-2: #374151;
    --gray-4: #6B7280;
    --gray-5: #9CA3AF;
    --gray-7: #F3F4F6;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../_config/fonts/work-sans-v16-latin-ext_latin-regular.woff2') format('woff2'),
       url('../_config/fonts/work-sans-v16-latin-ext_latin-regular.woff') format('woff'),
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../_config/fonts/work-sans-v16-latin-ext_latin-500.woff2') format('woff2'),
       url('../_config/fonts/work-sans-v16-latin-ext_latin-500.woff') format('woff'),
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../_config/fonts/work-sans-v16-latin-ext_latin-700.woff2') format('woff2'),
       url('../_config/fonts/work-sans-v16-latin-ext_latin-700.woff') format('woff'),
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../_config/fonts/ubuntu-v19-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
       url('../_config/fonts/ubuntu-v19-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'),
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../_config/fonts/ubuntu-v19-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
       url('../_config/fonts/ubuntu-v19-latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'),
}

body,
html {
    @include clearStyles;
    min-width: 320px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    @media only screen and (max-width: 1366px) {
        padding: 0 35px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 72px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 12px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

ul {
    @include clearStyles;
    list-style-type: none;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

p, h2, h3 {
  @include clearStyles;
}

button {
  &.loading {
    position: relative;
    color: transparent;
    background-color: var(--primary-hover);
    background-image: none;
    pointer-events: none;
    cursor: default;
    &:after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid var(--white-color);
      border-color: var(--white-color) transparent var(--white-color) transparent;
      animation: button-loading 1.2s linear infinite;
    }
  }
  &:disabled {
    background-color: var(--primary-hover) !important;
    cursor: default;
  }
}

.title {
    font-weight: 700;
    font-size: 34px;
    @media only screen and (max-width:768px) {
      font-size: 24px;
    }
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  &-title {
    height: 40px;
  }
  &-text {
    height: 24px;
  }
  &-title,
  &-text {
    width: 100%;
    border-radius: 7px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--gray-7);
  }

  100% {
    background-color: var(--white-color);
  }
}
@keyframes button-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
