.main {
  &__wrap {
    padding-top: 50px;
  }
  &__title {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 34px;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
  }
  &__left-column {
    min-width: 587px;
    width: 587px;
    margin-right: 50px;
  }
  &__yourcurrency {
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    &-title {
      margin-bottom: 25px;
      font-family: 'Work Sans';
      font-weight: 700;
      font-size: 20px;
    }
    &-list {
      display: block;
      li {
        display: block;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        .left {
          margin-right: -30%;
          width: 69%;
          overflow: hidden;
          display: inline-block;
          color: var(--black-color);
          font-family: 'Work Sans';
          font-weight: 600;
          font-size: 20px;
          &::after {
            content: '';
            display: inline-block;
            width: 100%;
            margin: 0 -99% 0 3px;
            border-bottom: 1px dashed var(--black-color);
          }
        }
        .right {
          @include clearStyles;
          display: inline-block;
          padding-left: 3px;
          margin-left: 30%;
          width: 29%;
          vertical-align: top;
          text-align: right;
          font-family: 'Work Sans';
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
    &.skeleton {
      height: 919px;
      box-shadow: unset;
    }
  }
  &__exchange {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    &-left {
      display: flex;
      flex-wrap: wrap;
      width: 358px;
    }
    &-title {
      width: 100%;
      margin-bottom: 25px;
      font-family: 'Work Sans';
      font-weight: 700;
      font-size: 20px;
    }
    &-label {
      display: flex;
      align-items: center;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 25px;
        margin-right: 9px;
      }
      .choices {
        margin-left: 15px;
        width: 134px;
        &__inner {
          font-size: 16px;
          border-radius: 7px;
          border: 1px solid var(--gray-5);
          background-color: var(--white-color);
        }
        &__list {
          &--dropdown {
            border-radius: 10px;
            .choices__list {
              max-height: 200px;
            }
            .choices__item {
              padding-right: 0;
            }
          }
        }
      }
    }
    &-button {
      font-family: 'Ubuntu';
      font-size: 16px;
      font-weight: 500;
      width: 104px;
      border-radius: 7px;
      color: var(--white-color);
      background-color: var(--primary-color);
    }
    &-input {
      width: 290px;
      margin-left: 8px;
      padding: 13px 16px 10px;
      border: 1px solid var(--gray-5);
      border-radius: 7px;
    }
    &.skeleton {
      height: 258px;
      box-shadow: unset;
    }
  }
  &__right-column {
    width: 100%;
    padding: 50px;
    background: #E5E5E5;
    border-radius: 50px;
    &-title {
      margin-bottom: 25px;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
    }
    &-list {
      display: block;
      overflow: auto;
      height: 1000px;
      li {
        display: block;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        .left {
          margin-right: -30%;
          width: 69%;
          overflow: hidden;
          display: inline-block;
          color: var(--black-color);
          font-family: 'Work Sans';
          font-weight: 600;
          font-size: 20px;
          &::after {
            content: '';
            display: inline-block;
            width: 100%;
            margin: 0 -99% 0 3px;
            border-bottom: 1px dashed var(--black-color);
          }
        }
        .right {
          @include clearStyles;
          position: relative;
          display: inline-block;
          padding-left: 3px;
          margin-left: 30%;
          width: 29%;
          vertical-align: top;
          font-family: 'Work Sans';
          font-weight: 400;
          font-size: 20px;
          &::after {
            content: '';
            position: absolute;
            right: 20px;
            border: 10px solid transparent;
          }
        }
        &.up {
          .left {
            &::after {
              border-color: var(--green-color);
            }
          }
          .right {
            &::after {
              bottom: 7px;
              border-bottom: 10px solid var(--green-color);
            }
          }
        }
        &.down {
          .left {
            &::after {
              border-color: var(--red-color);
            }
          }
          .right {
            &::after {
              top: 7px;
              border-top: 10px solid var(--red-color);
            }
          }
        }
      }
    }
  }
}
