@import '../addons/normalize';
@import 'mixin';
@import '../fonts/fonts';

* {
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --primary-color: #116ACC;
    --primary-hover: #A0C3FF;
    --red-color: #FD4E5D;
    --green-color: #76CA66;
    --gray-2: #374151;
    --gray-4: #6B7280;
    --gray-5: #9CA3AF;
    --gray-7: #F3F4F6;
}

body,
html {
    @include clearStyles;
    min-width: 320px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    @media only screen and (max-width: 1366px) {
        padding: 0 35px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 72px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 12px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

ul {
    @include clearStyles;
    list-style-type: none;
}

input,
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

p, h2, h3 {
  @include clearStyles;
}

.title {
    font-weight: 700;
    font-size: 34px;
}

.disabled-button {
  background-color: var(--primary-hover) !important;
  cursor: default;
}
